body {
    font-family: 'Roboto';
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 50px;
    align-self: center;
}

a {
    text-decoration: none;
    color: white;
}


.upper_block {
    justify-self: center;
    background-color: #1F2937;
    color: white;
    padding: 0px 200px;
}

.sec1 {
    display: flex;
    padding: 200px 0px 200px 0px;
}

.header_logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 10px 0px 10px 0px;
}

.hero_main_text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.hero_secondary_text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up_button {
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    color: #F9FAF8;
    width: 100px;
    height: 40px;
    margin: 10px 0px 10px 0px;

}

.sec1_right {
    margin: 20px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 200px;
}

.info_header {
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.sec2>div>div>img {
    width: 100px;
    height: 100px;
}

.image_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image_superbox {
    display: flex;
}

.sec3 {
    background-color: #E5E7EB;
    padding: 100px 200px;
}


.sec3>p>i {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.sec3>p>b {
    display: flex;
    justify-content: end;
    font-size: 24px;
}

.sec4 {
    margin: 50px 200px;
    padding: 40px 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;

}

.sign_up_button2 {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
    border-style: solid;
    width: 100px;
    height: 40px;
    margin: 10px 0px 10px 0px;
}

.sec4>div>h2 {
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 30px 200px;
}