body {
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

nav {
    display: flex;
    gap: 100px;
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    margin: 5px;
}